.colorBlindRG {
  --c-hit: #0c1d44;
  --c-hit-bg: #b1bbff;
  --c-miss: #3c3000;
  --c-miss-bg: #f3b93842;
}

.colorBlindBY {
  --c-hit: #023602;
  --c-miss: #3c0000;
  --c-hit-bg: #2cb72c52;
  --c-miss-bg: #e78f8f33;
}