#chat-log {
  .card-row {
    padding: 0 0 8px;
    margin: 0;

    .grid {
      grid-gap: 2px;
      margin: 2px 0;
      line-height: 1;
    }

    + .card-row {
      border-top: 2px groove #fff;
      padding: 8px 0;
    }

    h4 {
      margin: 0;
      padding: 10px;
      background: $c-power-will;
      line-height: 1;
      color: $c-white;
    }

    .effects-wrapper {
      margin: 0;
      border: 1px solid #176527;
      border-left-color: #003c15;
      border-right-color: #35993e;
      padding: 4px 6px;
      box-shadow: inset 2px 2px 8px 2px rgba(#003c15, 0.5);
      border-radius: 0 0 4px 4px;

      .effect-on-other {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }

      .effect-link {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 4px;
        transition: ease-in-out 0.25s opacity;
        text-decoration-thickness: 1px;

        &:hover,
        &:focus {
          opacity: 0.8;
          text-shadow: none;
        }

        i,
        .effects-icon {
          position: relative;
          top: 0;
          left: 0;
          bottom: 0;
          border: none;
          margin-right: 2px !important;
        }

        .effects-icon {
          width: 20px;
          height: 20px;
          margin-right: 3px;
          top: auto;
          bottom: auto;
          left: auto;
          right: auto;
          flex: 0 auto;
        }

        .effect-name {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          flex: 1;
        }
      }

      span.grid-span-2 {
        justify-content: center;
        text-align: center;
      }
    }

    button {
      font-size: 18px;
      line-height: 1;
      padding: 4px 0;
      background: $c-white;
      box-shadow:
        0 0 0 2px $c-white inset,
        0 0 5px 0 rgba($c-black, 0.2) inset;
      border: 1px solid var(--color-border-light-2);
      border-radius: 3px;

      &:hover,
      &:focus {
        box-shadow:
          0 0 0 2px $c-white inset,
          0 0 5px 0 rgba($c-black, 0.2) inset;
        background-color: $c-blue;
        color: $c-white;
        border-color: $c-blue;

        &[data-action="apply"] {
          background-color: $c-red;
        }

        &[data-action="remove"] {
          background-color: $c-progress-full;
        }
      }

      &.grayed-out {
        &:hover,
        &:focus {
          color: $c-white;
          background-color: darken($c-blue, 25%);
        }
      }
    }
  }
}